Package: aaron.zlwl.pubgm
Name: Pubg Hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Pubg Hack
Author: 隔壁老王
Version: 1.1.2
Installed-Size: 862
Maintainer: Aaron <851302227@qq.com>
Section: 游戏(Games)
Icon: https://aaronc.cn/img/game2.jpg
Sileodepiction: https://aaronc.cn/sileo2.json
